div#map

ul#legend
  li.a 
    b
    div Fewer than 25 deaths per 100,000 people
  li.b
    b
    div 25 to 50 deaths
  li.c
    b
    div 50 to 75 deaths
  li.d
    b
    div More than 75 deaths

div.clear
